.bg {
  /* Full height */
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.black-bg {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}
